<div>
  <div>
    <h1>
      Offers being used in your company
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      All your accepted offers
    </h2>

    <form action="/insert_users_leveraging_accepted_offer" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="accepted_offer_id_box">
          Accepted offer
        </label>

        <input type="text" id="accepted_offer_id_box" name="query_accepted_offer_id">
      </div>
      <div>
        <input type="hidden" id="number_of_times_redeemed_box" name="query_number_of_times_redeemed">
      </div>

      <button class="btn btn-outline-primary">
        Hand pick an offer
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1" class="table table-hover">
      <tr>


        <th>
          User
        </th>

        <th>
          Your offer
        </th>

        <th>
          Details
        </th>


      </tr>

      <% @list_of_users_leveraging_accepted_offers.each do |a_users_leveraging_accepted_offer| %>
        <tr>

          <td>
            <%= a_users_leveraging_accepted_offer.user.first_name %>, <%= a_users_leveraging_accepted_offer.user.last_name %>
          </td>

          <td>
            <%= a_users_leveraging_accepted_offer.accepted_offer.offer.offer_name %>
          </td>


          <td>
            <a href="/users_leveraging_accepted_offers/<%= a_users_leveraging_accepted_offer.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
