<div>
  <div>
    <h1>
      Your Offers
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      All your accepted offers
    </h2>


  </div>
</div>

<hr>
<div>
  <div>
    <table border="1" class="table table-hover">
      <tr>


        <th>
          User
        </th>

        <th>
          Your offer
        </th>

        <th>
          Details
        </th>


      </tr>

      <% @list_of_users_leveraging_accepted_offers.each do |a_users_leveraging_accepted_offer| %>
        <tr>

          <td>
            <%= a_users_leveraging_accepted_offer.user.first_name %>, <%= a_users_leveraging_accepted_offer.user.last_name %>
          </td>

          <td>
            <%= a_users_leveraging_accepted_offer.accepted_offer.offer.offer_name %>
          </td>


          <td>
            <a href="/users_leveraging_accepted_offers/<%= a_users_leveraging_accepted_offer.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
