<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <select name="query_company_id" id="company_id_box">

    <%= Company.all.order(:name).each do |a_company| %>
        
      <option type="text" id="company_id_box" name="query_company_id" value="<%=a_company.id %>"> 
          <%= a_company.name%>
      </option>
      <% end %>
    </select>

      <label for="company_id_box">Which one of our member companies are you part of?</label>
  </div>
         
  <div>
    <label for="company_admin_true_or_false_box">Are you your company's admin?</label>
    <input id="company_admin_true_or_false_box" name="query_company_admin_true_or_false" type="checkbox">
  </div>

         
  <div>
    <label for="photo_box">Photo</label>
      
    <input type="text" id="photo_box" name="query_photo">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
