<h1>
  Welcome to Bridgecount!
  <small class="text-muted">Discounts for you, by you.</small>
</h1>

<hr>

<h3>Sign in</h3>



<form action="/user_verify_credentials" method="post">
  <div class="form-floating mb-3">
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Enter your email..." type="text" class="form-control">
  </div>

  <div class="form-floating mb-3">
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Enter your password..." type="password" class="form-control">
  </div>

  <button class="btn btn-primary">
    Sign in
  </button>
</form>

<hr>


<div id="carouselWithControls" class="carousel slide pointer-event" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.completecontroller.com/wp-content/uploads/Working-With-an-Accountant-Complete-Controller.jpg" class="d-block w-100" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="https://rebalanced-life.org/uploads/slider_images/slider_4.jpg?rand=76" class="d-block w-100" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://images.squarespace-cdn.com/content/v1/56677969d8af10373a88d834/1560967097128-WOTKAE8EKXDWPML1KHTH/Salsa+Group+Classes+-+Ballroom+Dance+Chicago.jpg?format=1000w" class="d-block w-100" alt="Slide 3">
    </div>
  </div>
    <a class="carousel-control-prev" href="#carouselWithControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselWithControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>
